<footer>
    <nav class="pagination" role="navigation">
        {{#if prev}}
        <a class="previous newer-posts" href="{{page_url prev}}">Plus récents</a>
        {{else}}
        <div class="spacer"></div>
        {{/if}}
        <span class="page">Page {{page}} sur {{pages}}</span>
        {{#if next}}
        <a class="next older-posts" href="{{page_url next}}">Plus anciens</a>
        {{else}}
        <div class="spacer"></div>
        {{/if}}
    </nav>
</footer>
